.awsm-input-number {
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid #d8d8d8;
  padding: 0.5rem;
    &.disabled {
    background-color: rgb(238, 238, 238);
    color: #757575 !important;
  }

  &:focus {
    border: 1px solid #008F8A !important;
    background-color: #89c2c02e !important;
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }

}

.triangle-icon {
  top:8px;
  right: 8px;
  width: 15px;
}