.loader_main {
  width: 100%;
  margin-top: 5.5em;
  .MuiLinearProgress-root {
    background-color: #008f8a59;
  }
  .MuiLinearProgress-bar {
    background-color: #048a85;
  }
  position: absolute;
  z-index: 5;
}
