.loader_main{
 width: 100%;
 margin-top: 5.5em;
 .css-13m5gei-MuiLinearProgress-root{
    background-color: #008f8a59;
 }
 .css-15fvxt9-MuiLinearProgress-bar1, .css-1hx5fbd-MuiLinearProgress-bar2 {
    background-color: #048a85;
 }
}

