/**
 * Styles for React Event Editor popup
 */
.infinite-scroll-component__outerdiv {
  width: 100%;
}

.terminal-hours {
  &.has-indicator {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-bottom: solid 8px #262626;
      border-left: solid 8px transparent;
      border-right: solid 8px transparent;
    }

    &.has-indicator-middle::after {
      left: 0;
      right: 0;
    }

    &.has-indicator-left::after {
      left: 0;
      right: 1;
    }

    &.has-indicator-right::after {
      left: 1;
      right: 0;
    }
  }
}

.b-sch-event {
  $bg-rt-available: #dce5f0;
  width: 100%;
  opacity: 0.6;

  &.bold {
    opacity: 1;
  }

  &.has-background {
    overflow: visible;

    .b-sch-event-content {
      margin: 0;

      & .event {
        &-background {
          position: absolute;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $bg-rt-available;
        }

        &-data {
          position: absolute;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: 2px solid white;

          &.event-data-marquee:hover {
            .event-data-details {
              visibility: visible;
              -moz-transform: translateX(100%);
              -webkit-transform: translateX(100%);
              transform: translateX(100%);
              -moz-animation: scroll-left 8s linear infinite;
              -webkit-animation: scroll-left 8s linear infinite;
              animation: scroll-left 8s linear infinite;
            }
          }

          &-details {
            visibility: hidden;
            text-align: center;
            width: 180%;

            & > div {
              display: inline-block;
              border-radius: 20px;
              p {
                margin-bottom: 0;
                padding: 2px 8px;
              }
            }

            .white-bg {
              background-color: #ffffff;
              color: #000 !important;
            }

            .blue-bg {
              background-color: rgb(54, 148, 236);
            }

            .white-text {
              color: #fff;
            }

            .green-bg {
              background-color: green;
            }
          }
        }
      }
    }
  }
}
