.rts-table-container{
    overflow: auto;
    //padding-right: 0.5rem;
    margin-top: 5px;
    border-radius: 5px;
    height: 85%;
    width: 100%;
    .container-orderbank{
        .scroll{
            overflow-x: initial;
            .scrollable{
                border-right: 1px solid #D6C5E0;
                thead{
                    th{
                        padding-left: 5px;
                        height: 52px;
                        background-color: #F8F9FA;
                        font-size: 12px;
                        color: #000000;
                        font-weight: 600;
                        border-bottom: 1px solid #D9D9D9;
                        white-space: nowrap;
                        .header-expand{
                            color:#00A19C;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
                tbody{
                    td{
                        padding-left: 5px;
                        height: 40px;
                        .circle{
                            display: inline-block;
                            height: 18px;
                            width: 18px;
                            color:#FFFFFF;
                            border-radius: 50%;
                            font-size: 10px;
                            text-align: center;
                            line-height: 18px;
                            text-transform: uppercase;
                        }
                        .hp{
                            margin-left: 10px;
                            background: red;
                        }
                        .sr{
                            margin-left: 10px;
                            background: orange;
                        }
                        .status{
                            display: flex;
                            height: 20px;
                            width: 84px;
                            border-radius: 22px;
                            font-size: 10px;
                            align-items: center;
                            justify-content: center;
                        }
                        .Send{
                            color:#00A19C;
                            border:1px solid #00A19C;
                            &:hover{
                                cursor: pointer;
                            }
                            }
                        .Blocked{
                            color:#D50000;
                            background: #F2B2B2;
                            box-sizing: border-box;
                        }
                        .Late{
                            color:#763F98;
                            background: #D6C5E0;
                        }
                        .Clear{
                            color:#4CAF50;
                            background: #D5FBD6;
                        }
                        .Unblocked{
                            color:#763F98;
                            background: #D6C5E0;
                            font-weight: 700;
                        }
                    }
                    .rts-table-nodata{
                       border-left: 1px solid #D9D9D9;
                       height: 30vh;
                       div{
                           text-align: center;
                       }
                    }
                }
            }
            .bd-left{
                border-left: 1px solid #D6C5E0;
            }
        }
        .fixed{
            thead{
                th{
                    background-color: #F8F9FA;
                    text-align: right;
                    border-bottom: 1px solid #D9D9D9;
                    .header-select-icon{
                        margin-right: 10px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

            }
            tbody{
                th{
                    display: inline-flex;
                    align-items: center;
                    height: 40px;
                    text-align: right;
                    font-size: 12px;
                    color: #000000;
                    font-weight: 600;
                    border-bottom: 1px solid #D9D9D9;
                    font-family: 'Museo Sans';
                    .dropdown-menu{
                        button{
                            color:#22252b;
                            border: none;
                            &:hover{
                                border: none;
                                background: #008F8A;
                                color: #FFFFFF;
                            }
                        }
                        .event-content{
                            display: flex;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.rts-search{
    min-width: 150px;
    img{
        right:5px;
        top:7px;
        &:hover{
            cursor: pointer;
        }
    }
}

.unavailable-gantt {
    background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 10px, rgba(190, 190, 190, 0.2) 10px, rgba(190, 190, 190, 0.2) 20px) rgba(255, 255, 255, 0);
    color: #888;
}

.b-sch-event-content {
    display: none !important;
}
.b-sch-event:hover .b-sch-event-content {
    display: block !important;
}

.b-menuitem.b-contains-focus, .b-menuitem:focus{
    background-color: #00a19c !important;
    color:#FFFFFF !important
}
.b-panel.b-floating{
    height: auto !important;
}
.b-sch-event-content{
    width: 100%;
    height: 100%;
}
.ellipsis_text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
}
.eventCustomize {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    div{
        visibility: hidden;
        border-radius: 20px;
        display: inherit;
        p {
            margin-bottom: 0;
            padding: 2px 8px;
        }
    }
    .white-bg {
        background-color: #FFFFFF;
        color: #000 !important;
    }
    .blue-bg {
        background-color: rgb(54, 148, 236);
    }
    .white-text {
        color: #fff;
    }
    .green-bg {
        background-color: green;
    }
}
#eventEllipses .white-bg p{
    color: #000 !important;
}

.eventCustomize {
    &:hover div{
        visibility: visible;
        color: white;
    }
}
.deleteModal .modal-header {
    padding-left: 10px !important;
}

.marquee {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 100s linear infinite;
    -webkit-animation: scroll-left 100s linear infinite;
    animation: scroll-left 8s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(10%);
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
.opacity-20{
    opacity:0.2;
}
.terminal-relay{
    color:#4A4A4A;
    font-weight: 500;
    font-size: 14px;
}

.top-shipment-details {
    background-color: #EFF9F9;
    padding: 10px;
    width: fit-content;
}
.top-shipment-details span {
    padding: 0 2rem 0 10px;
    border-right: 1px solid #D4E2E2;
}
.top-shipment-details span:last-child {
    border-right: unset;
}
.shipment-main p {
    margin-bottom: 0px !important;
}
.shipment-main {
    border: 1px solid #d9d9d9;
    margin-top: 2em;
}
span.b-sch-header-text.b-sticky-header {
    font-weight: bold;
}

.tr-dragging {
    background-color: transparent !important;
    > td {
        border: none !important;
    }
    table {
        background: white;
        >tbody {
            border: 1px solid #00A19C;
            > tr {
                &:not(:last-child) {
                    border-bottom: 1px solid #00A19C;
                }
                > td {
                    border: none !important;
                }
            }
        }
    }
}
