.rts-table-container {
  overflow: auto;
  //padding-right: 0.5rem;
  margin-top: 5px;
  border-radius: 5px;
  height: 85%;
  width: 100%;
  .container-orderbank {
    .scroll {
      overflow-x: initial;
      .scrollable {
        border-right: 1px solid #d6c5e0;
        thead {
          th {
            padding-left: 5px;
            height: 52px;
            background-color: #f8f9fa;
            font-size: 12px;
            color: #000000;
            font-weight: 600;
            border-bottom: 1px solid #d9d9d9;
            white-space: nowrap;
            .header-expand {
              color: #00a19c;
              &:hover {
                cursor: pointer;
              }
            }
            span {
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        tbody {
          td {
            padding-left: 5px;
            height: 36px;
            .status {
              display: flex;
              height: 20px;
              width: 84px;
              border-radius: 22px;
              font-size: 10px;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              &:hover {
                cursor: default;
              }
            }
            .send {
              color: #00a19c;
              border: 1px solid #00a19c;
              &:hover {
                cursor: pointer;
              }
            }
            .blocked {
              color: #d50000;
              background: #f2b2b2;
              box-sizing: border-box;
            }
            .Late {
              color: #763f98;
              background: #d6c5e0;
            }
            .clean {
              color: #4caf50;
              background: #d5fbd6;
            }
            .unblock {
              color: #763f98;
              background: #d6c5e0;
            }
          }
          .rts-table-nodata {
            border-left: 1px solid #d9d9d9;
            height: 53.8vh;
            div {
              text-align: center;
            }
          }
        }
      }
      span {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  tbody {
    td {
      padding-left: 5px;
      height: 36px;
      .status {
        display: flex;
        height: 20px;
        width: 84px;
        border-radius: 22px;
        font-size: 10px;
        align-items: center;
        justify-content: center;
      }
      .send {
        color: #00a19c;
        border: 1px solid #00a19c;
        &:hover {
          cursor: pointer;
        }
      }
      .blocked {
        color: #d50000;
        background: #f2b2b2;
        box-sizing: border-box;
      }
      .Late {
        color: #763f98;
        background: #d6c5e0;
      }
      .clean {
        color: #4caf50;
        background: #d5fbd6;
      }
      .unblock {
        color: #763f98;
        background: #d6c5e0;
        font-weight: 700;
      }
    }
    .rts-table-nodata {
      border-left: 1px solid #d9d9d9;
      height: 30vh;
      div {
        text-align: center;
      }
    }
    .bd-left {
      border-left: 1px solid #d6c5e0;
    }
  }
  .fixed {
    thead {
      th {
        background-color: #f8f9fa;
        text-align: right;
        border-bottom: 1px solid #d9d9d9;
        .header-select-icon {
          margin-right: 6.5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    tbody {
      th {
        display: inline-flex;
        align-items: center;
        height: 36px;
        text-align: right;
        font-size: 12px;
        color: #000000;
        font-weight: 600;
        border-bottom: 1px solid #d9d9d9;
        .dropdown-menu {
          button {
            color: #22252b;
            border: none;
            &:hover {
              border: none;
              background: #008f8a;
              color: #ffffff;
            }
          }
          .event-content {
            display: flex;
            font-size: 12px;
          }
        }
      }
    }
  }
}
.circle {
  display: inline-block;
  height: 18px;
  width: 18px;
  color: #ffffff;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
}

.priority {
  height: 25px;
  margin-left: 10px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 25px;
  display: inline-flex;
}

.priority.highPriority {
  background: red;
  color: white;
}
.priority.highPriority::before {
  content: 'HP';
}

.priority.specialRequest {
  background: orange;
  color: white;
}
.priority.specialRequest::before {
  content: 'SP';
}

.rts-search {
  min-width: 150px;
  img {
    right: 5px;
    top: 7px;
    &:hover {
      cursor: pointer;
    }
  }
}

.unavailable-gantt {
  background: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2) 10px,
      rgba(190, 190, 190, 0.2) 10px,
      rgba(190, 190, 190, 0.2) 20px
    )
    rgba(255, 255, 255, 0);
  color: #888;
}

// .b-sch-event-content {
// display: none !important;
// }

.b-sch-event:not(.b-milestone) .b-sch-event-content > :not(i) {
  overflow: visible !important;
  text-overflow: clip !important;
}

.b-sch-event:hover .b-sch-event-content {
  display: block !important;
}

.b-menuitem.b-contains-focus,
.b-menuitem:focus {
  background-color: #00a19c !important;
  color: #ffffff !important;
}
.b-panel.b-floating {
  height: auto !important;
}
.b-sch-event-content {
  width: 100%;
  height: 100%;
}
.ellipsis_text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: inherit;
}
.eventCustomize {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 10px 0;
  div {
    visibility: hidden;
    border-radius: 20px;
    display: inherit;
    p {
      margin-bottom: 0;
      padding: 2px 8px;
    }
  }
  .white-bg {
    background-color: #ffffff;
    color: #000 !important;
  }
  .blue-bg {
    background-color: rgb(54, 148, 236);
  }
  .white-text {
    color: #fff;
  }
  .green-bg {
    background-color: green;
  }
}
#eventEllipses .white-bg p {
  color: #000 !important;
}

.eventCustomize {
  &:hover div {
    visibility: visible;
    color: white;
  }
}
.deleteModal .modal-header {
  padding-left: 10px !important;
}

.marquee {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 100s linear infinite;
  -webkit-animation: scroll-left 100s linear infinite;
  animation: scroll-left 8s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(10%);
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.opacity-20 {
  opacity: 0.2;
}
.terminal-relay {
  color: #4a4a4a;
  font-weight: 500;
  font-size: 14px;
}

.top-shipment-details {
  background-color: #eff9f9;
  padding: 10px;
  width: fit-content;
}
.top-shipment-details span {
  padding: 0 2rem 0 10px;
  border-right: 1px solid #d4e2e2;
}
.top-shipment-details span:last-child {
  border-right: unset;
}
.shipment-main p {
  margin-bottom: 0px !important;
}
.shipment-main {
  border: 1px solid #d9d9d9;
  margin-top: 2em;
}
span.b-sch-header-text.b-sticky-header {
  font-weight: bold;
}

.tr-dragging {
  background-color: transparent !important;
  > td {
    border: none !important;
  }
  table {
    background: white;
    > tbody {
      border: 1px solid #00a19c;
      > tr {
        &:not(:last-child) {
          border-bottom: 1px solid #00a19c;
        }
        > td {
          border: none !important;
        }
      }
    }
  }
}

.border-bryntum-table {
  border: 1.5px solid #d9d9d9 !important;
}

.border-bottom-gray {
  border-bottom: 1.5px solid #d9d9d9;
}

.wrapper-bryntum-shipment-grid {
  width: 100%;
}

.text-primary-green {
  color: #00a19c;
}

.text-red-color {
  color: red;
}

.bg-primary-green-100 {
  background-color: rgba(0, 161, 156, 0.15);
}
.dash-green-border {
  border: dashed 1.5px #00a19c;
}
.fw-600 {
  font-weight: 600 !important;
}
.table-row-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.wrapper-bryntum-shipment-dragdrop-area {
  width: 100%;
  background-color: #f8f9fa;
  overflow-x: hidden;
  height: 100%;
  div.drag-drop-header {
    @extend .border-bottom-gray;
    background-color: #f8f9fa !important;
    p {
      width: calc(100% / 3);
    }
  }
  div.drag-drop-area {
    width: 100%;
    height: 100%;
    table {
      border-collapse: separate;
      border-spacing: 0 0.75rem;
      max-height: 100%;
      overflow: auto;
      tbody {
        tr {
          border: none;
          outline: none;
          background-color: #fff;
          td {
            border: none !important;
            outline: none !important;
            height: 40px;
          }
        }
      }
    }
  }
}

.icon-alignment {
  padding-bottom: 10px;
}

.custom-td-overflow {
  height: 33px;
  line-height: 37px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-icon {
  padding-top: 5px;
  padding-right: 5px;
}

.error-alert-message {
  width: 100%;
  height: 8em;
}

.loading_screen {
  position: relative;
  top: 40%;
  left: 40%;
}

.infinite-scroll-component {
  overflow-anchor: none;
}

.ellips_txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
