//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCJdLCJuYW1lIjoiYm0uZGRpY2FzLi5nbWFpbC5jb20iLCJncm91cHMiOlsidHJpYWwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJ0cmlhbCJdLCJpYXQiOjE2MzI4ODY2NjgsIm5iZiI6MTYzMjg4NjY2OCwiZXhwIjoyNDk2ODAwMjY4fQ.ui1shRCOLSHD3oNsgTksuNG9i7iK8ifUpEHvWKjeAWE
@bryntum:registry=https://npm.bryntum.com