//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCJdLCJuYW1lIjoic2FoaWwuY2hhZGRoYS4uZ21haWwuY29tIiwiZ3JvdXBzIjpbInRyaWFsIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIiwidHJpYWwiXSwiaWF0IjoxNjMyNzI4MTI3LCJuYmYiOjE2MzI3MjgxMjcsImV4cCI6MjQ5NjY0MTcyN30.9VKBEwnW0g8cYtQ3Ma3rUDxVegcZ1hBG9HPrw4FKjgY
@bryntum:registry=https://npm.bryntum.com