.terminal-product {
  position: relative;
  //padding-top: 0.75rem;

  .delete-confirm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #f8f9fa;
  }

  .btn-delete-product {
    color: #d50000;
    outline: none;
    border: none;
    background-color: white;
    font-size: 0.85rem;
    font-weight: 500;
  }
}
.addl-value {
  padding-left: 0 !important;
  border: none !important;
  height: 100% !important;
  margin: auto;
  background-color: #eeeeee !important;
  pointer-events: none !important;
}

.addl-value-storage {
  padding-left: 0 !important;
  border: none !important;
  height: 100% !important;
  margin: auto;
}
.marginBottom11 {
  margin-bottom: 11px;
}
.marginTop19 {
  margin-top: 19px;
}
.marginTop20 {
  margin-top: 20px;
}
.ml-12 {
  margin-left: 12px;
}
.mr-12 {
  margin-right: 12px;
}
.h-40 input {
  height: 40px;
}

.dqm-product-add {
  cursor: pointer;
  color: #008f8a;
}
