.addButton {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #009e8e;
}
.addButton div {
  color: #009e8e;
}
.addButton div:hover {
  color: #009e8e;
}

.invisibleItem {
  display: none;
}
.btnAddSmall {
  color: #009e8e;
  cursor: pointer;
  width: fit-content;
  outline: none;
  border: none;
  background-color: white;
}
.btnAddSmallDisabled {
  color: #AAAAAA;
}
