.awsm-input {
  height: 2.5rem !important;
  border-radius: 0.25rem !important;
  border: 1px solid #d8d8d8;
  padding: 0.5rem !important;

  &.disabled {
    background-color: rgb(238, 238, 238);
    color: rgba(16, 16, 16, 0.3) !important;
  }

  &:focus {
    border: 1px solid #008f8a;
  }
}
