.order_bank_main {
    margin-top: 15px;
}
.order-bank-page-content {
    padding: 0;
}
.top_right_section {
    text-align: right;
}
.nav-pills .nav-link.active{
    width: auto !important;
    height: auto !important;
}
.nav {
    align-items: center;
}
.gantt_chart_main, .shipment_main {
    height: 80vh;
    overflow-y: hidden;
}
.gantt_chart_first, .gantt_chart_second{
    height: 50%;
    overflow-y: auto;
}

.gantt_chart_second .setting_icon {
    padding: 0 !important;
    background-color: transparent !important;
}
.gantt_chart_left {
    flex: 0 0 72%;
    max-width: 72%;
}
.gantt_chart_right {
    flex: 0 0 33%;
    max-width: 33%;
    display: flex;
    align-items: center;
}
.h-340 {
    height: 340px;
}
.bg-grey {
    background-color: #F9F9F9;
}
.bg-grey p{
    color: #D4D4D4;
}
.bg-loading {
    background-color: #EFF9F9;
    border: 1px solid #00A19C;
}
.bg-loading p{
    color: #00A19C;
}
.bg-err {
    background-color: #F9F9F9;
    border: 1px solid #D50000;
}
.bg-err p{
    color: #D50000;
}
.relative {
    position: relative;
}
.top-40 {
   top: 40%;
}
.text-18 {
    font-size: 18px;
}
.mt-27 {
    margin-top: 27px;
}
.new-order-modal {
    max-width: 900px !important;
}
.table {
    display: table;
}
.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.order-bank-bar {
    display: flex;
    align-items: center;
    >h4 {
        font-weight: 700;
    }
    .order-bank-label {
        margin: 0;
        padding-right: 10px;
        border-right: 1px solid #D9D9D9;
    }

    .order-bank-shift-date {
        width: 250px;
        display: flex;
        margin-left: 10px;
        align-items: center;
        >div:first-child {
            margin-right: 10px;
            color: #333333;
            font-size: 15px ;
        }
        >div:not(:first-child) {
            flex-grow: 1;
        }
    }

    .order-bank-region-label {
        font-size: 15px;
        margin: 0 10px;
    }

    .order-bank-region {
        width: 150px;
    }
}
.scroll {
    overflow-y: auto;
    overflow-x: auto;
}
.text-red {
    color: red;
}
.text-upper {
    text-transform: uppercase;
}
.w-70 {
    width: 70%;
}
.w-30 {
    width: 30%;
}
.w-85 {
    width: 85%;
}
.w-25 {
    width: 25%;
}
.text-bold {
    font-weight: bold;
}
.order_details_box {
    background-color: #EEEEEE;
    padding: 20px;
    width: 99%;
}
.order_details_box p{
    color: #333333;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 500;
}
.h-70v {
    height: 70vh;
}
.h-80v {
    height: 80vh;
}
