.order_bank_main {
    margin-top: 15px;
}
.order-bank-page-content {
    padding: 0;
}
.top_right_section {
    text-align: right;
}
.nav-pills .nav-link.active{
    width: auto !important;
    height: auto !important;
}
.nav {
    align-items: center;
}
.gantt_chart_main, .shipment_main {
    height: 80vh;
    overflow-y: hidden;
}
.gantt_chart_first, .gantt_chart_second{
    height: 50%;
    overflow-y: auto;
}
.right_setting_text{
    padding-right: 10px;
    color: rgba(0,0,0,0.5);
    border-right: 1px solid rgba(0,0,0,0.5);
}
.gantt_chart_second .setting_icon {
    padding: 0 !important;
    background-color: transparent !important;
}
.gantt_chart_left {
    flex: 0 0 74%;
    max-width: 74%;
}
.gantt_chart_right {
    flex: 0 0 28%;
    max-width: 28%;
    display: flex;
    align-items: center;
}
.h-280 {
    height: 280px;
}
.bg-grey {
    background-color: #F9F9F9;
}
.bg-grey p{
    color: #D4D4D4;
}
.bg-loading {
    background-color: #EFF9F9;
    border: 1px solid #00A19C; 
}
.bg-loading p{
    color: #00A19C;
}
.bg-err {
    background-color: #F9F9F9;
    border: 1px solid #D50000;
}
.bg-err p{
    color: #D50000;
}
.relative {
    position: relative;
}
.top-40 {
   top: 40%; 
}
.text-18 {
    font-size: 18px;
}
.mt-27 {
    margin-top: 27px;
}
.new-order-modal {
    max-width: 900px !important;
}
.table {
    display: table;
}
.table_cell {
    display: table-cell;
    vertical-align: middle;
}


