@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  src: url("../../../assets/fonts/MuseoSans/MuseoSans-500.ttf")
    format("truetype");
}

.page-header {
  height: 24px;
  color: #333333;
  font-family: "Museo Sans";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 23px !important;
  letter-spacing: 0.25px;
  line-height: 24px;
  padding-left: 0.5em;
}

.card-content {
  padding: 23px 29px 30px 30px !important;
}

.table-header {
  height: 24px;
  color: #333333;
  font-family: "Museo Sans";
  font-weight: 700;
  font-size: 20px !important;
  margin-bottom: 23px !important;
  letter-spacing: 0;
  line-height: 24px;
}

.enteriesText {
  height: 14px;
  color: #424242;
  font-family: "Museo Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: 20px;
}

//STYLE FOR AUDIT LOG MODAL

#auditLog-modal .modalContainer {
  width: 900px !important;
  height: 100%;
  padding-bottom: 50px;
  position: relative !important;
  top: 50% !important;
  bottom: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin-left: 300px;
  margin-top: 400px;
}

.date-time {
  height: 13px;
  width: 59px;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 13px;
  margin-left: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 0;
}

.container-data {
  padding-top: 15px;
}

.tracking-detail {
  padding: 3rem 0;
}

.tracking-list {
  padding: 5px 30px 0 30px;
}
.tracking-item {
  // border-left: 1px solid #00a19c;
  position: relative;
  font-size: 0.9rem;
  height: 70px;
  padding-left: 20px;
  padding-right: 0;
}
.tracking-item:last-child {
  border-left: 0px;
}
.tracking-item .tracking-date {
  margin-bottom: 0.5rem;
}
.tracking-item .tracking-date span {
  color: #888;
  font-size: 85%;
  padding-left: 0.4rem;
}
.tracking-item .tracking-content {
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  font-size: 14px;
  color: #272525;
  letter-spacing: 0;
  line-height: 14px;
  padding-left: 20px;
}
.tracking-item .tracking-content span {
  display: block;
  height: 28px;
  color: #6f6f6f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  padding-top: 6px;
}
.tracking-item .tracking-icon {
  position: absolute;
  left: -1.3rem;
  width: 2.6rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  // background-color: #fff;
  color: #fff;
}

.tracking-item .tracking-icon.status-intransit {
  color: #e5e5e5;
  font-size: 0.6rem;
}
@media (min-width: 992px) {
  .tracking-item {
    margin-left: 10rem;
  }
  .tracking-item .tracking-date {
    position: absolute;
    left: -10rem;
    margin-left: 0;
    height: 34px;
    color: #111111;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    padding-top: 18px;
    padding-left: 0;
  }
  .tracking-item .tracking-date span {
    display: block;
    padding-left: 0px;
    font-size: 14px;
  }
  .tracking-item .tracking-content {
    background-color: transparent;
  }
}

.last-updated-sub-title {
  height: 16px;
  width: 350px;
  color: #757575;
  font-family: "Museo Sans";
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 16px;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  flex: 0 0 40%;
  padding-right: 15px;
}

.date-sub-title {
  height: 16px;
  color: #757575;
  font-family: "Museo Sans";
  font-size: 12px;
  // font-style: italic;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  // margin-left: 10px;
  flex: 0 0 23%;
  padding-right: 15px;
}

.table-top-bar {
  display: flex;
  align-items: center;
  margin: 20px 0 0px 0;
  justify-content: space-between;
  .top-page-number {
    //flex: 0 0 97%;
    .enteriesText {
      margin: 0;
    }
  }
  button {
    padding: 0;
  }
}
.Download-excel {
  border-right: 1px solid #d9d9d9;
  button {
    background: #fff;
    border: unset;
    margin-right: 20px;
    box-shadow: 0px 0px 3px 1px #cccccc36;
    &:focus {
      box-shadow: unset;
    }
  }
}

.vertical-hr-right {
  border-right: 1px solid #d9d9d9;
  button {
    background: #fff;
    border: unset;
    margin-right: 20px;
    box-shadow: 0px 0px 3px 1px #cccccc36;
  }
}

.vertical-hr-left {
  border-left: 1px solid #d9d9d9;
}

.Confirmation-box {
  height: 600px;
  background: #f8f9fa;
  div {
    position: relative;
    text-align: center;
    top: 40%;
  }
  h3 {
    color: #000;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 25px;
  }
  button {
    width: 120px;
    height: 40px;
    margin-right: 10px;
  }
}
.separate {
  margin: 0 1rem;
  width: 1px;
  height: 40px;
  background-color: #eeeeee;
}
.modal-button {
  height: 40px;
  position: relative;
  padding-left: 25px !important;
  padding-right: 15px !important;
  svg {
    position: absolute;
    top: 13px;
    left: 5px;
    width: 20px;
  }
}

.modal-header,
.modal-body,
.modal-footer {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.modal-header {
  padding-top: 30px !important;
  border-bottom: 0px !important;
}

.modal-footer {
  padding-bottom: 25px !important;
  padding-top: 25px !important;
}

.excel-btn-container {
  padding-bottom: 5px !important;
  .excel-download-btn {
    display: flex;
    .download-icon {
      margin-bottom: 5px;
      margin-right: 3px;
    }
    .download-button-message {
      margin: auto;
    }
  }
}
