.RangeExample {
  abbr[data-original-title],
  abbr[title] {
    cursor: pointer;
  }

  .DayPicker-Day {
    border-radius: 0 !important;
    // margin: 1px !important;
    &:not(:last-child) {
      border-right: 4px solid white;
    }
  }
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: #e0f4f3 !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .DayPicker-Week[role="row"]:not(:last-child) {
    border-bottom: 4px solid white;
  }
  .DayPicker-Day.DayPicker-Day--start.DayPicker-Day--selected {
    background-color: #00a19c !important;
    color: #fff !important;
  }
  .DayPicker-Day.DayPicker-Day--end.DayPicker-Day--selected {
    background-color: #00a19c !important;
    color: #fff !important;
  }
}
.SingleExample {
  abbr[data-original-title],
  abbr[title] {
    cursor: pointer;
  }

  .DayPicker-Day {
    border-radius: 0 !important;
    // margin: 1px !important;
    &:not(:last-child) {
      border-right: 4px solid white;
    }
  }
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: #00a19c !important;
    color: #fff !important;
  }
  .DayPicker-Week[role="row"]:not(:last-child) {
    border-bottom: 4px solid white;
  }
}
.MultiExample {
  abbr[data-original-title],
  abbr[title] {
    cursor: pointer;
  }

  .DayPicker-Day {
    border-radius: 0 !important;
    // margin: 1px !important;
    &:not(:last-child) {
      border-right: 4px solid white;
    }
  }
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: #e0f4f3 !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .DayPicker-Week[role="row"]:not(:last-child) {
    border-bottom: 4px solid white;
  }
  .selectedDayname {
    background-color: #00a19c !important;
    color: #fff !important;
  }
}
.DayPicker-Caption {
  visibility: hidden;
}
.DayPicker-Month {
  margin-top: 0;
}
.DayPicker-WeekdaysRow > div {
  border-right: 4px solid white;
}
