.variance-input {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.focus {
    > input {
      width: 100%;
      border-top-right-radius: 0.25rem!important;
      border-bottom-right-radius: 0.25rem!important;
    }

    > button {
      display: none;
    }
  }

  &.disabled {
    > input {
      width: 100%;
    }
  }

  input {
    border-top-left-radius: 0.25rem!important;
    border-bottom-left-radius: 0.25rem!important;
    border-right-color: white;
  }
  .button-edit {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left-style: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;

    svg {
      width: 1rem;
      right: 0;
      color: gray;
    }
  }
}
