.table-information {
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  .form-control:disabled,
  .form-control[readonly] {
    border: 1px solid #d9d9d9;
    background-color: #eeeeee;
    color: rgba(16, 16, 16, 0.3) !important;
  }
  .css-uc78jj-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled {
    border: 1px solid #d9d9d9;
    background-color: #eeeeee;
  }

  .css-4a49d4-MuiSvgIcon-root-MuiSelect-icon {
    opacity: 0.3;
  }

  button .close {
    padding-left: 0px !important;
    margin-left: 0px !important;
    // display: flex;
    span {
      margin-left: auto;
    }
  }

  .last-updated-sub-title {
    height: 16px;
    width: fit-content !important;
    color: #757575;
    font-family: "Museo Sans", serif;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0;
    line-height: 16px;
  }

  .modal-title {
    padding-left: 0;
    height: 26px;
    color: #000000;
    font-family: "Museo Sans", serif;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 26px;
  }
}

// .active {
//   border-radius: 4px 4px 0px 0px;
//   .nav-link {
//     span {
//       color: white;
//     }
//     background-color: #00a19c;
//   }
// }

.extra-button {
  position: absolute;
  right: 0px;
  margin-right: 10px;
}

#done {
  color: #bdbdbd;
  font-size: 12px;
}

.active-btn {
  color: #00a19c !important;
}

// .trailer {
//   margin-top: 20px;
// }

// .availability {
//   margin-top: 20px;
// }

// .specification {
//   margin-top: 20px;
// }

.Mui-selected {
  background-color: #e0f4f3 !important;
}

.MuiOutlinedInput-root .form-control {
  border: 1px #e0f4f3 solid !important;
}

fieldset {
  border-color: white !important;
}

.delete-btn {
  color: red;
  position: absolute;
  right: 0px;
  font-size: 10px;
}
// ul {
//   li {
//     font-size: 12px !important;
//   }
// }

.MuiSelect-root {
  font-size: 12px !important;
}

.add-restriction {
  border: #00a19c solid 1px;
  input {
    border-right: 0px;
  }
}

.btn-auto-fill {
  color: #00a19c !important;
  border-left: 0px !important;
}

#restriction {
}

.Mui-checked {
  color: #00a19c !important;
}

ul li div span {
  font-size: 12px !important;
  line-height: 0.5 !important;
  padding: 0px !important;
  margin: 0px !important;
}

.MuiSvgIcon-root {
  border-radius: 4px;
  border: #cbefed none;
}

.PrivateSwitchBase-input {
  border: #cbefed none;
  border-radius: 4px;
}

.disable-link {
  pointer-events: none;
}

.MuiListItem-root {
  line-height: 1 !important;
}
.collapse {
  display: flex;
}

.alert {
  width: fit-content;
  border: 0.5px solid #4caf50;
}

.yes-noBtn {
  width: max-content;
  font-size: 10px;
  a {
    color: red;
  }
}
