.awsm-select-toggle {
  border-radius: 0.25rem;
  border: 1px solid #d8d8d8;
  height: 2.5rem;
  position: relative;
  cursor: pointer;
  &.disabled {
    background-color: rgb(238, 238, 238);
    cursor: context-menu;
  }
  .awsm-dropdown-arrow {
    // position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    color: #777777;
  }
  .time-error {
    position: relative;
    color: red;
    bottom: -10px;
    left: -8px;
  }
}
.awsm-select-menu {
  margin-top: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 12px 0 rgba(92, 76, 76, 0.16);
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  max-height: 150px;
  overflow: auto;
  .awsm-select-item {
    cursor: pointer;
    padding: 0.5rem;
    &:hover {
      background-color: #008f8a;
      color: white;
    }
  }
}
.dqm-storage-container {
  .input-header {
    margin-top: 0.75rem;
    color: black;
  }
  .section-header {
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    color: black;
  }
  .dqm-storage-add {
    cursor: pointer;
    color: #008f8a;
  }
  .dqm-storage-delete {
    cursor: pointer;
    color: red;
  }
}
.awsm-input {
  // height: 2.5rem;
  // border-radius: 0.25rem;
  // border: 1px solid #d8d8d8;
  // padding: 0.5rem;

  // new css
  width: 100%;
  height: calc(1.5em + 0.94rem + 2px);
  padding: 0.47rem 0.75rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.disabled {
    background-color: rgb(238, 238, 238);
  }
  &:focus {
    border: 1px solid #008f8a;
  }
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}
.awsm-dropdown-input {
  .awsm-input {
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 1px solid #d8d8d8;
    padding: 0.5rem;

    &.disabled {
      background-color: rgb(238, 238, 238);
    }
    &:focus {
      border: 1px solid #008f8a;
      background-color: rgb(240, 249, 249);
      color: #008f8a;
    }
  }
  .awsm-input-right-content {
    color: #008f8a;
    font-size: 0.75rem;
    right: 0;
    top: 0;
    padding-top: 0.65rem;
    padding-right: 0.5rem;
  }
  .input-header {
    margin-top: 0.75rem;
    color: black;
  }
}

#remarks input:focus {
  border: 1px solid #008f8a;
  background-color: rgb(240, 249, 249);
  color: #000;
}
.awsm-select-menu.w-100.dropdown-menu.show {
  box-shadow: #cccccc73 0px 0 10px 0px;
}
.bg-primary-green{
  background-color: #00a19c;
}