@font-face {
  font-family: "Museo Sans";
  src: url("../assets/fonts/MuseoSans/MuseoSans-500.ttf") format("truetype");
}

.swal2-icon {
  border-color: transparent !important;
  margin: auto !important;
}

.swal2-close {
  margin: auto !important;
}

.swal2-container {
  transform: translate(-13px, 80px);
  width: auto !important;
}

.swal2-popup {
  padding: 0 !important;
  height: 48px !important;
  width: 100% !important;
}

.swal2-title {
  font-size: 14px !important;
  margin-left: -10px !important;
  max-width: 600px !important;
  font-family: "Museo Sans" !important;
  top: 53% !important;
  transform: translateY(-50%) !important;
}

.swal2-toast {
  grid-template-columns: 60px 6fr 60px !important;
}

.success-popup {
  background-color: #edf7ed !important;
  border: solid 1px #4caf50 !important;
}

.success-title {
  color: #4caf50 !important;
}

.error-popup {
  background-color: #fdecea !important;
  border: solid 1px #f44336 !important;
}

.error-title {
  color: #f44336 !important;
}
