.awsm-date-picker-container {

  .date-picker-button {
    width: 100%;
    display: flex;
    align-items: center;
    height: 2.5rem;
    border: 1px solid #d8d8d8;
    background-color: white;
    border-radius: 0.25rem;
    position: relative;

    &.disabled {
      background-color: #eeeeee;
      color: rgba(16, 16, 16, 0.3);
    }
  }

  .date-picker-icon {
    // width: 0.85rem;
    // position: absolute;
    // right: 0.35rem;
    // top: 0.5rem;
    color: rgb(204, 205, 207);
  }

}

.awsm-date-picker {
  display: flex;
  justify-content: center;

  .rdrMonthAndYearPickers {
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .rdrSelected {
    background-color: #008f8a !important;
    border-radius: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &.rdrDayHovered {
      display: none !important;
      border: none;
    }
  }

  .rdrWeekDays {
    padding: 0.5rem 0;

    .rdrWeekDay {
      font-weight: 600;
      color: #333333;
    }
  }

  .rdrDay {
    &:hover {
      background-color: #dddddd;
    }
  }

  .rdrDayNumber {
    font-weight: 500;
    font-size: 0.8rem;
    color: #333333;

    span:after {
      width: 0 !important;
    }

    &:after {
      border: none !important;
      border-radius: 0 !important;
      background: none;

      span:after {
        width: 0 !important;
      }
    }
  }

  .rdrDayEndPreview {
    border: none !important;
  }

  .DayPicker {
    max-width: 100%;
  }

  .DayPicker-Day {
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 0;
    font-weight: 600;
    cursor: pointer;

    &:not(.DayPicker-Day--outside):hover {
      background-color: lightblue;
    }

    &.DayPicker-Day--selected {
      background-color: #00a19c !important;
    }

    &.DayPicker-Day--outRange {
      background-color: white;
      color: #DDDDDD;
      cursor: context-menu;
    }
  }

  .DayPicker-caption {
    display: table-caption;
    padding: 0 0.5rem;
  }

  .DayPicker-icon {
    width: 0.8rem;
    cursor: pointer;

    &.prev {
      transform: rotate(180deg);
    }
  }

  .DayPicker-Weekday {
    cursor: pointer !important;
    margin-bottom: 2px;
    height: 30px;
    line-height: 30px;
    color: black;
    font-weight: 500;

    &:hover {
      background-color: lightblue;
    }
  }

  .DayPicker-Week {
    border-bottom: 4px white solid;
  }

  .date-picker-icon {
    width: 1.2rem;
    color: #CCCCCC;
  }

  .DayPicker-Week:first-child {
    border-top: 4px solid white;
  }

  .date-picker-label {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


}

.apply_buttons .btn {
  margin-right: 10px;
}

.apply_buttons {
  text-align: right;
  margin-bottom: 10px;
}

.btn-date-range {
  border-radius: 22px !important;
  padding: 0.25rem 1.25rem !important;
}
