.dqm-tableinfo-container {
  padding-right: 1rem;
  padding-left: 15px;

  .input-header {
    margin-top: 0.75rem;
    color: black;
  }

  .section-header {
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    color: black;
  }
}
