.arrow {
  position: absolute;
  top: 40%;
  right: 15px;
  color: #777;
  cursor: pointer;
}
#road_tanker_requirement {
  cursor: pointer;
}
.field {
  cursor: pointer;
}
.add {
  background-color: transparent;
  border: 0;
  color: #018f89 !important;
  position: absolute;
  top: -8px;
  right: 0px;
}
.arrow2 {
  position: absolute;
  top: 15%;
  right: 15px;
  color: #777;
  cursor: pointer;
}

#road_tanker_requirement {
  background-color: aquamarine;
}

.disabled {
  background-color: #eee !important;
}
