.arrow {
  position: absolute;
  top: 41%;
  right: 17px;
  color: #777;
  cursor: pointer;
}
#road_tanker_requirement {
  cursor: pointer;
}
.field {
  cursor: pointer;
  height: 2.5rem !important;
  border-radius: 0.25rem !important;
  border: 1px solid #d8d8d8;
  padding: 0.5rem !important
}
.add {
  background-color: transparent !important;
  border: 0 !important;
  color: #018f89 !important;
  position: absolute !important;
  top: -8px !important;
  right: 0px !important;
  text-align: right;
}
.arrow2 {
  position: absolute;
  top: 15%;
  right: 15px;
  color: #777;
  cursor: pointer;
}
.arrow3 {
  position: absolute;
  top: 50%;
  right: 15px;
  color: #777;
  cursor: pointer;
}
#road_tanker_requirement {
  background-color: aquamarine;
}

.disabled {
  background-color: #eee !important;
  color: #757575 !important;
}
.dropdownChecked {
  background-color: #e0f4f3;
}
.marginTop13{
  margin-top: 13px;
}
.marginTop30 {
  margin-top: 30px;
}

.marginTop14 {
  margin-top: 14px;
}
.marginTop20 {
  margin-top: 20px;
}
.marginBottom14{
  margin-bottom: 14px
}
.marginBottom20 {
  margin-bottom: 20px;
}

.fieldError {
  position: absolute;
  bottom: -2px;
  color: red;
}