.arrow {
  position: absolute;
  top: 41%;
  right: 17px;
  color: #777;
  cursor: pointer;
}
#road_tanker_requirement {
  cursor: pointer;
}
.field {
  cursor: pointer;
}
.add {
  background-color: transparent !important;
  border: 0 !important;
  color: #018f89 !important;
  position: absolute !important;
  top: -8px !important;
  right: 0px !important;
  text-align: right;
}
.arrow2 {
  position: absolute;
  top: 15%;
  right: 15px;
  color: #777;
  cursor: pointer;
}
.arrow3 {
  position: absolute;
  top: 50%;
  right: 15px;
  color: #777;
  cursor: pointer;
}
#road_tanker_requirement {
  background-color: aquamarine;
}

.disabled {
  background-color: #eee !important;
  color: rgba(16, 16, 16, 0.3) !important;
}
.dropdownChecked {
  background-color: #e0f4f3;
}
.marginTop16{
  margin-top: 16px;
}
.marginTop30 {
  margin-top: 30px;
}
.marginTop32{
  margin-top:32px;
}
.marginTop14 {
  margin-top: 14px;
}
.marginTop20 {
  margin-top: 20px;
}
.marginBottom16{
  margin-bottom: 16px
}
.marginBottom20 {
  margin-bottom: 20px;
}
