.dqm-status-container {
  .input-header {
    margin-top: 1.375rem;
    margin-bottom: 0.5rem;
    color: black;
  }
  .error {
    padding-top: 0.2rem;
    font-size: 80%;
    color: #f46a6a;
  }
}
.add {
  background-color: transparent !important;
  border: 0 !important;
  color: #018f89 !important;
  position: absolute !important;
  top: 0 !important;
  right: 10px !important;
  text-align: right;
}
.marginTop30{
  margin-top: 30px;
}
