.dqm-status-container {
  .input-header {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    color: black;
  }
}
.add {
  background-color: transparent !important;
  border: 0 !important;
  color: #018f89 !important;
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
}
span.required_highlight {
  color: red;
}
