@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  src: url("../../../assets/fonts/MuseoSans/MuseoSans-500.ttf")
    format("truetype");
}

.table-header {
  height: 24px;
  color: #333333;
  font-family: "Museo Sans";
  font-weight: 700;
  font-size: 20px !important;
  margin-bottom: 23px !important;
  letter-spacing: 0;
  line-height: 24px;
}

.enteriesText {
  height: 14px;
  color: #424242;
  font-family: "Museo Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: 20px;
}