.first-item{
   border-left:2px solid #D9D9D9;
   font-weight: 500;
   width: 22%;
}
.item{
    vertical-align: middle !important;
    border-bottom:2px solid #D9D9D9 !important;
    border-top:2px solid #D9D9D9 !important;
    box-sizing: border-box;
    font-family: "Museo Sans";
    font-weight: 500;
    color:#333333;
    font-size: 12px;
    width: 26%;
    & div{
        width: 100%;
    }
}
.table td {
        padding-top:0.35rem !important;
        padding-bottom: 0.35rem !important;
}
.last-item{
    border-right:2px solid #D9D9D9;
 }
 .tank-status-modal{
    .variance-close-button{
        width: 30px;
    }
    .tank-status-footer{
        padding:1.5rem 1.5rem 0 1.5rem;
        margin-left: -15px;
        margin-right: -15px;
        border-top:2px solid rgba(0,0,0,0.05);
    }
    .capacity{
        .capacity-title{
            padding-bottom: 0.75rem;
            font-family: "Museo Sans";
            font-weight: 500;
            text-transform: uppercase;
            color: #333333;
        }
        .disabled{
            background: #EEEEEE !important;
        }
        .readonly-field{
           padding-left: 10px;
        }
    }
 }
 .tank-status-table{
    .header{
        background: #F8F9FA;
        text-transform: uppercase;
        color: #000000;
        font-weight: 700;
    }
 }
.tank_status{
    .button-edit{
        background-color: white;
        border: none;
        color: #999999;
        height: 25px;
        width: 30px;
    }
    .MuiInputBase-input{
        font-size: 12px !important;
    }
    .readonly-field{
        font-size: 12px;
        font-family: "Museo Sans";
        font-weight: 500;
        color: #333333;
        display: inline-block;
        width: 100%;
    }
}



  
