.nav-sla {
    margin-top: 32px;
}
.nav-sla .nav-item .nav-link.active {
    background-color: transparent;
    h4 {
        color: #008F8A;
    }
}
.nav-sla-tab .nav-item .nav-link {
    color: white;
}

.sla-tab-add {
    color: #008F8A;
}