.nav-sla {
  margin-top: 32px;
}

.nav-sla .nav-item .nav-link.active {
  background-color: transparent;
  &:after {
    height: 5px;
  }
  h4, h5 {
    color: #008F8A;
  }
}

.nav-sla-tab .nav-item .nav-link {
  color: white;
  font-weight: lighter;
  &.active {
    color: #7F7F7F;
  }

  font-size: 14px;
  font-family: Museo Sans, serif;
}

.sla-tab-add {
  color: #008F8A;
}

.sla-title {
  font-weight: 700;
  color: #333333;
  font-family: Museo Sans, serif;
}

.sla-no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border: 1px solid #E0E0E0;

  > h4 {
    color: #D4D4D4;
    font-family: Museo Sans, serif;
    font-size: 20px;
  }

  > button {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

.sla-tab-add-container {
  .sla-tab-add-note {
    h4 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 96px;
      color: #009E8E;
      font-size: 18px;
      font-family: Museo Sans, serif;
      font-weight: 500;
      background-color: #F9F9F9;
      border: 1px dashed #00A19C;
      border-radius: 7px;
      cursor: pointer;
    }

    hr {
      margin-bottom: 1.5rem;
    }
  }

  .note-title {
    h4 {
      color: #333333;
      font-size: 18px;
      font-family: Museo Sans, serif;
      font-weight: 700;
    }

    button {
      color: #9EA0A5;
    }
  }
  
  .border-none {
    border: unset !important;
  }  

  .add-note-content-container {
    position: relative;
    height: 200px;
    .ck-rounded-corners {
      border: none !important;
    }

    .ck-toolbar {
      border: none !important;
    }

    border: 1px solid #00A19C;
    padding: 1.5rem 0;
    background-color: rgb(240, 249, 249);

    .ck-editor__editable {
      background-color: rgb(240, 249, 249) !important;
      border: none !important;
      box-shadow: none !important;
    }

    .btn {
      width: 120px;
      height: 40px;

      &:active {
        box-shadow: none!important;
        outline: 0;
      }

      &.btn-outline-primary {
        background-color: white !important;
        border: 1px solid #CBEFED !important;
        color: #00A19C !important;
        margin-right: 8px;

        &:hover {
          color: #00A19C !important;
        }
      }
    }
  }

  .ck .ck-toolbar {
    border: none !important;
  }
  .ck-read-only {
    border: 2px solid #D9D9D9 !important;
  }
}

.sla-rbd-download {
  width: 220px !important;
  overflow-y: auto;
  box-shadow: 0 3px 10px rgb(204, 199, 199);
}

.item-checked {
  background-color: #e0f4f3;
  border-radius: 2px;
}

.pdf-wid {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.pdf-wid .pdf-btn {
  width: 100%;
  border-radius: 25px;
}

// .bs-popover-auto {
//   left: -20px !important;
// }
.sla-header {
  font-weight: 600;
  font-size: 16px!important;
  margin-bottom: 32px;
}