.nav-sla-tab {
  .nav-link {
    font-weight: 600;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    font-size: 15px;
    &.active:not(.sla-and-new-section) {
      border: none;
      border-bottom: 1px solid #ced4da !important;
      color: #7F7F7F;
    }
    button {
      border: none;
      background-color:inherit;
      color: inherit;
      svg {
        width: 0.4rem;
      }
    }
  }
  .sla-and-new-section {
    border: 2px dashed #00A19C !important;
    background-color: #F9F9F9 !important;
    color: #00A49D !important;
    cursor: pointer;
    margin-left: 0.2rem;
  }
}

.sla-section-label-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
  margin-bottom: 4px;

  .sla-section-input {
    border: 1px white;
    padding: 0.5rem 2rem 0.5rem 1rem;
    width: 100%;
    background-color: white;
    &.focus {
      background-color: #F0F9F9;
      border: 1px solid #00A19C;
      border-radius: 4px;
    }
    &.error {
      border-color: #E80000;
      background-color: white !important;
    }
    &:disabled {
      padding-left: 0;
      font-family: Museo Sans, serif;
      color: #333333;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .add-new-section{
    border: 1px solid #9E9E9E;
    border-radius: 4px;
  }
  .remain-character {
    position: absolute;
    right: 8px;
    top: 25%;

    &.valid {
      color: #00A19C;
    }
    &.error {
      color: #E80000;
    }
  }
  .btn {
    width: 120px;
    height: 39px;

    &:active {
      box-shadow: none!important;
      outline: 0;
    }

    &.btn-outline-primary {
      background-color: white !important;
      border: 1px solid #CBEFED !important;
      color: #00A19C !important;
      margin-right: 8px;

      &:hover {
        color: #00A19C !important;
      }
    }
  }
  .sla-btn-edit {
    cursor: pointer;
  }
  .sla-section-error-message {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    color: #D50000;
    margin-top: 4px;
  }
}

.sla-button-option-item {
  svg {
    height: 12px;
  }
}

.section-tab{
  svg{
    width: 16px !important;
  }
}

.add-section {
  .title {
    font-family: "Museo Sans";
    font-weight: 500;
    font-size: 14px;
    color: #4A4A4A
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    padding: 1.5rem;
  }

  .btn {
    width: 120px;
    height: 40px;
    &:active {
      box-shadow: none!important;
      outline: 0;
    }

    &.btn-outline-primary {
      background-color: white !important;
      border: 1px solid #CBEFED !important;
      color: #00A19C !important;
      margin-right: 8px;

      &:hover {
        color: #00A19C !important;
      }
    }
  }

  .sla-section-input {
    border: 1px solid #D9D9D9;
    padding: 0.5rem 2rem 0.5rem 1rem;
    width: 100%;
    background-color: white;

    &.focus {
      background-color: #F0F9F9;
      border: 1px solid #00A19C;
      border-radius: 4px;
    }

    &.error {
      border-color: #E80000;
      background-color: white !important;
    }

    &:disabled {
      padding-left: 0;
      font-family: Museo Sans, serif;
      color: #333333;
      font-weight: 700;
      font-size: 16px;
    }
  }

  .modal-title {
    padding-left: 0 !important;
  }
}

td.ck.ck-content {
  border: 1px solid rgb(217, 217, 217);
}

.delete-note-modal {
  h5.modal-title {
    padding-left: 0 !important;
  }
  .btn {
    width: 120px;
    height: 40px;
  }
}
