.sla_file_upload {
  h4 {
    padding-bottom: 20px;
    font-weight: 600;
  }
}
.heading {
  color: #14877c;
  border-bottom: 1px solid #14877c;
  margin-bottom: 30px;
  padding-bottom: 10px;
}


.sla_table {
  margin-top: 25px;
  .action{
    display: flex;
    align-items: center;
    align-content: center;
    svg{
      cursor: pointer;
    }
  }
  .Search_input {
    width: 30%;
    min-width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
  }
  table {
    width: 100%;
    padding: 1em;
    margin: 20px 0;
    border: 2px solid #cccccc9e;
    box-shadow: 0px 0px 10px 1px #cccccc5c;
  }
  tr {
    height: 50px;
    text-align: left;
    border-bottom: 2px solid #cccccc9e;
  }
  td {
    padding: 8px;
  }
  th {
    text-align: left;
    padding: 8px;
    background-color: 1px solid #ffffff;
  }
  thead {
    height: 60px;
    font-size: 13px;
    font-weight: bold;
  }
  .uploaded_time {
    margin-bottom: 0px;
    span {
      color: #a7a2a2;
      font-size: 12px;
    }
  }
}

.not_found{
  text-align: center;
}