.retail-customer-modal {
  .form-control:disabled,
  .form-control[readonly] {
    border: 1px solid #d9d9d9;
    background-color: #eeeeee;
    color: #757575 !important;

  }
  .sub-title {
    height: 16px;
    width: 350px;
    color: #757575;
    font-family: "Museo Sans", serif;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0;
    line-height: 16px;
  }

  .modal-title {
    padding-left: 0;
    height: 26px;
    color: #000000;
    font-family: "Museo Sans", serif;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 26px;
  }
}
