//STYLE FOR AUDIT LOG MODAL

#auditLog-modal {
  min-width: 80%;
  min-height: 80%;
}

// unnecessary styling
// https://reactstrap.github.io/?path=/docs/components-modal--modal
#auditLog-modal .modalContainer {
  width: 900px !important;
  height: 100%;
  padding-bottom: 50px;
  position: relative !important;
  top: 50% !important;
  bottom: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin-left: 300px;
  margin-top: 470px;
}

.date-time {
  height: 13px;
  width: 59px;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 13px;
  margin-left: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 0;
}

.container-data {
  padding-top: 15px;
}

.tracking-detail {
  padding: 3rem 0;
}

.tracking-profic-pic {
  width: 42px;
  height: 42px;
  margin-left: 1em;
}

.tracking-list {
  padding: 5px 30px 0 30px;
}

.tracking-content {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  .content-text {
    padding-top: 4px;
    font-size: 12px;
    color: #6f6f6f;
    letter-spacing: 0;
    line-height: 1.4;
  }
}

.tracking-item {
  position: relative;
  font-size: 0.9rem;
  height: 70px;
  padding-left: 20px;
  padding-right: 0;
}

.tracking-item:last-child {
  border-left: 0px;
}
.tracking-item .tracking-date {
  margin-bottom: 0.5rem;
}
.tracking-item .tracking-date span {
  color: #888;
  font-size: 85%;
  padding-left: 0.4rem;
}
.tracking-item .tracking-content {
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  font-size: 14px;
  color: #272525;
  letter-spacing: 0;
  line-height: 14px;
  padding-left: 20px;
}
.tracking-item .tracking-content span {
  display: block;
  height: 28px;
  color: #6f6f6f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  padding-top: 6px;
}
.tracking-item .tracking-icon {
  position: absolute;
  left: -1.3rem;
  width: 2.6rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #fff;
}

.tracking-item .tracking-icon.status-intransit {
  color: #e5e5e5;
  font-size: 0.6rem;
}
@media (min-width: 992px) {
  .tracking-item {
    margin-left: 10rem;
  }
  .tracking-item .tracking-date {
    position: absolute;
    left: -10rem;
    margin-left: 0;
    height: 34px;
    color: #111111;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    padding-top: 18px;
    padding-left: 0;
  }
  .tracking-item .tracking-date span {
    display: block;
    padding-left: 0px;
    font-size: 14px;
  }
  .tracking-item .tracking-content {
    background-color: transparent;
  }
}

.audit-no-records {
  height: 100px;
  display: flex;
  align-items: center;
  p {
    margin-left: 10px;
    margin-bottom: 0;
  }
}
