.file_upload_main {
    background-color: #ebf9f9;
    padding: 20px;
    .MuiDropzoneArea-root {
        border: 3px solid #00a19c;
        background-color: #ebf9f9;
        border-radius: 3px;
    }
    .MuiTypography-h5 {
        display: none;
    }
}


